body {
  background-color: #374151;
  color: #ffffff;
}

ul a {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.profile {
  font-size: 18px;
  font-weight: 600;
}

.mainPage {
  font-size: 18px;
}

#search {
  background-color: #1f293799;
  color: #ffffff;
  font-size: 16px;
}

main > p {
  font-size: 14px;
  opacity: 60%;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

.nataly {
  font-size: 16px;
  line-height: 28px;
}

.develop {
  font-size: 14px;
  line-height: 28px;
  opacity: 60%;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

section {
  font-size: 16px;
  font-weight: 400;
}

footer {
  font-size: 16px;
  opacity: 60%;
}
