


.tarrifs__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* grid-template-areas: "1 2 3"; */
  /* "2 2 2"
    "3 3 3"; */
  gap: 15px;
  padding: 0 100px;
  padding-bottom: 48px;

  /* justify-content: space-evenly; */
  align-items: stretch;
}

.tarrifs__product {
  padding: 93px 40px 48px;
  border-radius: 8px;
  box-shadow: 0px 0px 32px 0px #4e5d7c29;
}

.tarrifs__card {
  box-shadow: 0px 0px 32px 0px #4e5d7c29;
  width: 100%;
  border-radius: 8px;
  display: grid;
  padding: 48px 40px 48px;
  gap: 24px;
  grid-template-rows: 1fr auto auto;
  height: 100%;
  grid-template-areas:
    "description"
    "price"
    "button";
}

.blue-card {
  background: var(--background-blue);
  color: #ffffff;
}

.blue-card-text {
  color: #ffffff99;
}

/* .product__price {
  display: grid;
  grid-auto-flow: row;
} */
.product__description {
  display: grid;
  grid-area: description;
  min-height: 120px;
  gap: 10px;
}

.product__price {
  display: grid;
  gap: 16px;
  align-content: start;
  grid-area: price;
  color: #4e5d7c;
}

.white-text {
  color: #ffffff;
}

.price__tag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid #4e5d7c14;
}

span {
  padding: 8px 16px;
}

.yellow {
  background-color: #ffc736;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
}

.no-bottom {
  border-bottom: none;
}

.tarrifs__button {
  display: grid;
  grid-area: button;
  align-self: end;
}

.period {
  margin: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  font-style: bold;
}

.product__benefit {
  padding: 4px 16px;
  max-width: 124px;
  max-height: 29px;
  font-weight: 800;
  font-size: 15px;
  line-height: 140%;
  border-radius: 8px;
  border: 1px none;
  color: #ffffff;
  background-color: #1abc9c;
}

.no-benefit {
  padding-top: 43px;
}

/* .product__benefit--hidden {
  /* полное копирование .product__benefit */
/* padding: 4px 16px;
  max-width: 124px;
  font-weight: 800;
  font-size: 15px;
  line-height: 140%;
  border-radius: 8px;
  color: transparent;
  background: transparent;
  pointer-events: none;
} */
.tarrifs__button {
  padding: 12px 10px;
  font-weight: 800;
  font-size: 17px;
  line-height: 140%;
  border-radius: 47px;
  border: none;
}
.button-b {
  background-color: var(--background-blue);
  color: #ffffff;
}

.button-w {
  color: var(--background-blue);
}

@media (max-width: 1100px) {
  .tarrifs__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 50px;
  }

  .tarrifs__card {
    max-width: 550px;
  }
}

@media (max-width: 550px) {
  .tarrifs__wrapper {
    padding: 23px;
  }

  .tarrifs__card {
    justify-content: center;
    padding-top: 20px;
  }
}
