body {
  background-color: #f39494;
}
main {
  background-color: #fffefe;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}
form {
  font-size: 16px;
  color: #999999;
}
input {
  background-color: #f5f5f5;
  font-style: italic;
}
label {
  font-size: 14px;
  color: #666666;
}
button {
  background-color: #089fe0;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
